// Цвета

// Светлая тема
$primalTextColor: #000;
$primalBGColor:rgb(241, 241, 241);
$primalProjectsButtonColor: rgb(0, 0, 0);

// Темная тема
$DARKThemePrimalTextColor: #fff;
$DARKThemePrimalBGColor:rgb(0, 0, 0);
$DARKThemePrimalProjectsButtonColor: rgb(241, 241, 241);
