// Цвета

// Светлая тема
$primalTextColor: #000;
$primalBGColor:rgb(241, 241, 241);
$primalProjectsButtonColor: rgb(0, 0, 0);

// Темная тема (в будущем появится :Ъ)
$DARKThemePrimalTextColor: #fff;
$DARKThemePrimalBGColor:rgb(0, 0, 0);
$DARKThemePrimalProjectsButtonColor: rgb(241, 241, 241);

// Header
$headerContactsFontSize: 35px;

// Projects
$projectsHeaderFontSize: 50px;
$projectsDescriptionFontSize: 40px;
$projectsDescriptionListFontSize: 30px;
$projectsWatchButtonFontSize: 25px;

// Footer
$footerHeaderFontSize: 50px;
$footerProjectsFontSize: 20px;
$footerContactsFontSize: 20px;
$footerDateFontSize: 50px;
