.footer{
    max-width: 100%;
    background: $DARKThemePrimalBGColor;
    color: $DARKThemePrimalTextColor;
    @include primalFontSizeFooter;
    line-height: 1.5;
        ::selection{
            background: $primalBGColor;
            color: $primalTextColor;
        }
        &-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
            
        }

        &__wrapper{
            display: flex;
            flex-basis: 100%;
                @media screen and (max-width: 700px) {
                    flex-direction: column;
                }
        }
        &__column{
            @media screen and (max-width: 700px){
                &:not(:first-child){
                    margin-top: 40px;
                }
                
            }
        }
        &-header{
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            
        }

        &-projects{
            display: flex;
            flex-direction: column;
            flex-basis: 10%;
            justify-content: space-between;
            
            
        }

        &-contacts{
            display: flex;
            flex-basis: 50%;
            justify-content: center;
            text-transform: uppercase;
            @media screen and (max-width: 700px) {
                flex-direction: column;
            }
            &__wrapper{
                display: flex;
                flex-direction: column;
            }
            :nth-child(1n+2){
                margin-top: 20px;
                @media screen and (max-width: 700px) {
                    margin-top: 0;
                }
            }
        }
        &-date{
            flex-basis: 100%;
            text-align: center;
            margin-top: 100px;
        }
}

