.footer{
    max-width: 100%;
    padding: 100px;
    background: $DARKThemePrimalBGColor;
    color: $DARKThemePrimalTextColor;
    height: 100vh;
    @include primalFontSizeFooter;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 90%;
        height: 2px;
        background: #fff;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @media screen and (max-width: 1380px) {
        padding: 50px;
    }
    @media screen and (device-width: 1024px) {
        height: auto;
        min-height: -webkit-fill-available;
    }
    @media screen and (max-width: 280px) {
        padding: 20px;
    }

        ::selection{
            background: $primalBGColor;
            color: $primalTextColor;
        }
        &-container{
          
   
        }

        &__wrapper{
            display: flex;
                @media screen and (max-width: 1380px) {
                    flex-direction: column;
                }

        }
        &__column{
            @media screen and (max-width: 1380px) {
                &:not(:first-child){
                    margin-top: 50px;
                }
            }
        }
        &-header{
            flex-basis: 33.3%;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            font-size: $footerHeaderFontSize;
            @media screen and (max-width: 640px) {
                font-size: calc($footerHeaderFontSize / 1.5);
            }
                     
        }

        &-projects{
            display: flex;
            flex-basis: 33.3%;
            justify-content: center;
            font-size: $footerProjectsFontSize;
            @media screen and (max-width: 1380px) {
                justify-content: flex-start;
                font-size: calc($footerProjectsFontSize * 1.3)
            }

            @media screen and (max-width: 640px) {
                font-size: $footerProjectsFontSize;
            }
            &__wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            
        }

        &-contacts{
            display: flex;
            flex-basis: 33.3%;
            justify-content: center;
            text-transform: uppercase;
            font-size: $footerContactsFontSize;
            @media screen and (max-width: 1380px) {
                justify-content: flex-start;
                font-size: calc($footerContactsFontSize * 1.3)
            }

            @media screen and (max-width: 640px) {
                font-size: $footerContactsFontSize;
            }
            &__wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        &-date{
            flex-basis: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: $footerDateFontSize;
                @media screen and (max-width: 412px) {
                    align-items: center;
                }
            
        }
}

