.footer{
    max-width: 100%;
    padding: 100px;
    background: $DARKThemePrimalBGColor;
    color: $DARKThemePrimalTextColor;
    height: 100vh;
    @include primalFontSizeFooter;
    line-height: 1.5;
    display: flex;
    flex-direction: column;

        ::selection{
            background: $primalBGColor;
            color: $primalTextColor;
        }
        &-container{
          
   
        }

        &__wrapper{
            display: flex;
                @media screen and (max-width: 1380px) {
                    flex-direction: column;
                }

        }
        &__column{
            @media screen and (max-width: 1380px) {
                &:not(:first-child){
                    margin-top: 50px;
                }
            }
        }
        &-header{
            flex-basis: 33.3%;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            font-size: $footerHeaderFontSize;
                     
        }

        &-projects{
            display: flex;
            flex-basis: 33.3%;
            justify-content: center;
            font-size: $footerProjectsFontSize;
            @media screen and (max-width: 1380px) {
                justify-content: flex-start;
            }
            &__wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            
        }

        &-contacts{
            display: flex;
            flex-basis: 33.3%;
            justify-content: center;
            text-transform: uppercase;
            font-size: $footerContactsFontSize;
            @media screen and (max-width: 1380px) {
                justify-content: flex-start;
            }
            &__wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        &-date{
            flex-basis: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: $footerDateFontSize;
            
            
        }
}

