// Основной кониейнер
.container{
    max-width: 1940px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
        @media screen and (max-width: 1200px) {
            max-width: 1140px;
        }

        @media screen and (max-width: 992px) {
            max-width: 960px;
        }

        @media screen and (max-width: 768px) {
            max-width: 720px;
        }

        @media screen and (max-width: 576px){
            max-width: 540px;
        }
}