.header{
    max-width: 100%;
    height: 100vh;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    color: $primalTextColor;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
}

