.header {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background-image: $primalBGGradient;
    color: $primalTextColor;
    text-transform: uppercase;
    overflow: hidden;
    @include primalFont;
    @include primalFontBold;

    &__top {
        display: flex;
        justify-content: space-between;

        .left-header {
            flex-basis: 85%;

            &__name {
                @include primalFontSizeExtra;
                    @media screen and (max-width: 1120px) {
                        font-size: 150px;  
                    }
            }

            &__description {
                @include primalFontSizeExtra;
                    @media screen and (max-width: 1120px) {
                        font-size: 150px;  
                    }
            }

            &__contacts {
                margin-top: 20px;
                display: flex;
                max-width: 100%;
                font-size: 40px;
                align-content: space-between;
                    @media screen and (max-width: 1200px){
                        justify-content: space-between;
                        
                    }

                    @media screen and (max-width: 1120px) {
                        font-size: 35px; 
                    }

            }

            .contacts {
                .item-contacts {
                    &:not(:first-child) {
                        margin-left: 20px;
                        @media screen and (max-width: 1200px){
                            margin-left: 0;
                        }
                    }

                    text-decoration: none;

                    &__text {
                        margin-left: 10px;
                    }

                    &__icon {
                        width: 50px;
                    }
                }

                .item-contacts:link {
                    color: inherit;
                }

                .item-contacts:active {
                    color: inherit;
                }

                .item-contacts:visited {
                    color: inherit;
                }

                .item-contacts:hover {
                    text-decoration: underline;
                }

            }
        }

        .right-header {
            display: flex;
            justify-content: center;
            flex-basis: 15%;

            .switches-header {
                margin-top: 30px;
                display: flex;
                flex-direction: column;

                &__text{
                    @include primalFontExtraLight;
                    margin-bottom: 5px;
                }

                &__switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                        &:not(:last-child){
                            margin-bottom: 30px;
                        }
                }

                .theme {
                    &__input {
                        display: none;
                            &:checked + .theme__slider {
                                background-color: #000000;
                            }

                            &:checked + .theme__slider:before {
                                transform: translateX(26px);
                            }
                    }

                    &__slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: .4s;
                        border-radius: 10%;
                            &:before {
                                position: absolute;
                                content: "";
                                height: 26px;
                                width: 26px;
                                left: 4px;
                                bottom: 4px;
                                background-color: white;
                                transition: .4s;
                            }
                    }

                }

                .language {
                    &__input {
                        display: none;
                            &:checked + .language__slider {
                                background-color: #000000;
                            }

                            &:checked + .language__slider:before {
                                transform: translateX(26px);
                            }
                    }

                    &__slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: .4s;
                        border-radius: 10%;
                            &:before {
                                position: absolute;
                                content: "";
                                height: 26px;
                                width: 26px;
                                left: 4px;
                                bottom: 4px;
                                background-color: white;
                                transition: .4s;
                            }
                    }
                }
            }
        }

        .bottom-header{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);    
            width: 100%;
            padding: 10px 0 40px 0;
            background-color: pink;
            background-color: rgba(0, 0, 0, 0.2);
            text-align: center;
            cursor: pointer;
            @include primalFontBold;
            @include fontSizeHeaderButton;
                &__text{
                    &:after{
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 50%;
                        transform: translateX(-50px); 
                        background: url('../images/header/bottom-header/projects-button.svg') no-repeat;
                        width: 100px;
                        height: 100px;
                        overflow: hidden;
                    }
                }

                .projects-button-aimation:after{
                    animation-name: projects-fall;
                    animation-duration: 0.7s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                }

                @keyframes projects-fall{
                    from {
                        top: 5px;
                    }

                    to {
                        top: 15px;
                    }
                }
        }
    }
}