footer.footer
    .container.footer-container  
        .footer__column.footer-header
            span.footer-header__name Кирилл Кобыхнов.   
            span.footer-header__description Портфолио.  
        .footer__column.footer-projects
            a.footer-projects__item(href="google.com") Проект 1
            a.footer-projects__item(href="google.com") Проект 1 
            a.footer-projects__item(href="google.com") Проект 1 
            a.footer-projects__item(href="google.com") Проект 1  
        .footer__column.footer-contacts
            a.footer-contacts__item(href="tel:+79965003886") +7 996 500 38 86 
            a.footer-contacts__item(href="https://github.com/daifoll" target="__blank") Github 
        .footer__column.footer-date
            span.footer-date__item.date 2022 г. 