footer.footer#footer
        .footer__wrapper   
            .footer__column.footer-header
                span.footer-header__name Кобыхнов Кирилл.   
                span.footer-header__description Портфолио.  
            .footer__column.footer-projects
                .footer-projects__wrapper
            .footer__column.footer-contacts
                .footer-contacts__wrapper
                    a.footer-contacts__item(href="tel:+79965003886") +7 996 500 38 86 
                    a.footer-contacts__item(href="https://github.com/daifoll" target="__blank") Github
                    a.footer-contacts__item(href="images/header/contacts/portfoilio.pdf" download="") Скачать резюме 
        .footer__column.footer-date
            span.footer-date__item.date  