header.header
    .container 
        header.header__top
            .header-column.left-header
                h1.left-header__name Кобыхнов Кирилл.
                h2.left-header__description Портфолио.
                .left-header__contacts.contacts
                    a.contacts__item.item-contacts(href="https://github.com/daifoll" target="__blank")
                        i.fab.fa-github.item-contacts__icon
                    a.contacts__item.item-contacts(href="tel:+79965003886")
                        i.fas.fa-phone-alt.item-contacts__icon(title='Позвонить')
                        span.item-contacts__text +7 996 500 38 86
                    a.contacts__item.item-contacts(href="images/header/contacts/portfoilio.pdf" download="")
                        span.item-contacts__text Скачать резюме
                        i.fas.fa-angle-double-down.item-contacts__icon
            .header-column.right-header
                .right-header__swithes.switches-header
                    label.switches-header__switch.theme
                        input(type='checkbox').theme__input
                        span.theme__slider
                    label.switches-header__switch.language
                        input(type='checkbox').language__input
                        span.language__slider

