header.header
    .container 
        .header__top
            .header__column.left-header
                h1.left-header__name Кобыхнов Кирилл.
                h2.left-header__description Портфолио.
                .left-header__contacts.contacts
                    a.contacts__item.item-contacts(href="https://github.com/daifoll" target="__blank")
                        img(src=require("../images/header/contacts/github.svg"), alt="").item-contacts__icon
                        span.item-contacts__text /daifoll
                    a.contacts__item.item-contacts(href="tel:+79965003886")
                        img(src=require("../images/header/contacts/phone.svg"), alt="").item-contacts__icon
                        span.item-contacts__text +7 996 500 38 86
                    a.contacts__item.item-contacts(href="images/header/contacts/portfoilio.pdf" download="")
                        img(src=require("../images/header/contacts/download.svg"), alt="").item-contacts__icon
                        span.item-contacts__text Скачать резюме
            .header__column.right-header
                .right-header__swithes.switches-header
                    span.switches-header__text Сменить тему
                    label.switches-header__switch.theme
                        input(type='checkbox').theme__input
                        span.theme__slider
                    span.switches-header__text Сменить язык
                    label.switches-header__switch.language
                        input(type='checkbox').language__input
                        span.language__slider
            .header__column.bottom-header 
                span.bottom-header__text.projects-button-aimation проекты

