header.header 
    header.header__top
        .header-column.top-header
            h1.top-header__name Кобыхнов Кирилл.
            h2.top-header__description Портфолио.
            .top-header__contacts.contacts
                a.contacts__item.item-contacts(href="https://github.com/daifoll" target="__blank")
                    <i class="fab fa-github item-contacts__icon"></i>
                a.contacts__item.item-contacts(href="tel:+79965003886")
                    <i class="fas fa-phone-alt item-contacts__icon" title="Позвонить"></i>
                    span.item-contacts__text +7 996 500 38 86
                a.contacts__item.item-contacts(href="images/header/contacts/portfoilio.pdf" download="")
                    span.item-contacts__text Скачать резюме
                    <i class="fas fa-angle-double-down item-contacts__icon"></i>
        .header-column
