header.header 
    header.header__top.top-header  
        h1.top-header__name Кобыхнов Кирилл.
        h2.top-header__description Портфолио.
        .top-header__contacts.contacts
            a.contacts__item(href="https://github.com/daifoll" target="__blank")
                img.contacts__item-img(src="images/header/contacts/github.svg", alt="Github")
            a.contacts__item(href="tel:+79965003886") +7 996 500 38 86
                img.contacts__item-img(src="images/header/contacts/phone.svg", alt="Позвонить")
            a.contacts__item(href="images/header/contacts/portfoilio.pdf" download="")
                img.contacts__item-img(src="images/header/contacts/download.svg", alt="Скачать резюме")