header.header#started
    .container 
        .header__top
            .header__column.left-header
                h1.left-header__name Кобыхнов Кирилл.
                h2.left-header__description Портфолио.
                .left-header__contacts.contacts
                    a.contacts__item.item-contacts(href="https://github.com/daifoll" target="__blank")
                        img(src=require("../images/header/contacts/github.svg"), alt="").item-contacts__icon
                        span.item-contacts__text /daifoll
                    a.contacts__item.item-contacts(href="tel:+79965003886")
                        img(src=require("../images/header/contacts/phone.svg"), alt="").item-contacts__icon
                        span.item-contacts__text +7 996 500 38 86
                    a.contacts__item.item-contacts(href="mailto: kobykhnov.bl@gmail.com")
                        img(src=require("../images/header/contacts/email.svg"), alt="").item-contacts__icon
                        span.item-contacts__text kobykhnov.bl@gmail.com
                    a.contacts__item.item-contacts(href="https://drive.google.com/file/d/1_eT-SEWJ6VdL8nASIlOla26-gLrMWk1x/view?usp=sharing" target='_blank')
                        img(src=require("../images/header/contacts/download.svg"), alt="").item-contacts__icon
                        span.item-contacts__text Посмотреть резюме
                .header__column.anchors-navigation
                    a(href="#started").anchors-navigation__item
                    a(href="#projex").anchors-navigation__item
                    a(href="#nftmusic").anchors-navigation__item
                    a(href="#todolist").anchors-navigation__item
                    a(href="#footer").anchors-navigation__item
                .header__column.look-projects
                    a(href="#projex").look-projects__item Проекты 