section.projects
    .container.projects-container
        .projects__column.projects-item
            .projects-item__img.projects-image
                img.projects-image__img(src=require("../images/projects/projex/projexScreen.png"), alt="Projex")
            .project-item__info.projects-info
                .projects-info__header.projects-header
                    span.projects-header__item "Projex"
                .projects-info__discription.projects-discription
                    p.projects-discription Что реализовано в проекте: ...  
        .projects__column.projects-item 
        .projects__column.projects-item  