section.projects
    .projects-container
        .projects__column.projects-item#projex
            .projects-item__img.projects-image
                img.projects-image__img(src=require("../images/projects/projex/projexScreen.png"), alt="Projex")
            .project-item__info.projects-info
                .projects-info__header.projects-header
                    span.projects-header__item «Projex»
                .projects-info__description.projects-description
                    p.projects-description__item Используемые технологии:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item HTML5
                        li.projects-description-list__item CCS3
                        li.projects-description-list__item JS6
                        li.projects-description-list__item WEBPACK5
                        li.projects-description-list__item NODE JS
                    p.projects-description__item Что реализовано:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item Адаптивная верстка по макету из Figma
                        li.projects-description-list__item Burger-menu
                        li.projects-description-list__item Слайдер по кнопке
                        li.projects-description-list__item Touch slider 

                .projects-info__button.projects-button 
                    a(href="https://daifoll.github.io/projex/" target="_blank").projects-button__watchBtn Посмотреть проект
        .projects__column.projects-item#nftmusic
            .projects-item__img.projects-image
                img.projects-image__img(src=require("../images/projects/NFTMusic/NFTMusicScreen.png"), alt="Projex")
            .project-item__info.projects-info
                .projects-info__header.projects-header
                    span.projects-header__item «NFTMusic»
                .projects-info__description.projects-description
                    p.projects-description__item Используемые технологии:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item HTML5
                        li.projects-description-list__item CCS3
                        li.projects-description-list__item JS6
                        li.projects-description-list__item WEBPACK5
                        li.projects-description-list__item NODE JS
                    p.projects-description__item Что реализовано:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item Адаптивная верстка по макету из Figma
                        li.projects-description-list__item Burger-menu
                .projects-info__button.projects-button 
                    a(href="https://daifoll.github.io/NFTMusic/" target="_blank").projects-button__watchBtn Посмотреть проект
        .projects__column.projects-item
            .projects-item__img.projects-image
                img.projects-image__img(src=require("../images/projects/NFTMusic/NFTMusicScreen.png"), alt="Projex")
            .project-item__info.projects-info
                .projects-info__header.projects-header
                    span.projects-header__item «JS-проекты»
                .projects-info__description.projects-description
                    p.projects-description__item Используемые технологии:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item HTML5
                        li.projects-description-list__item CCS3
                        li.projects-description-list__item JS6
                        li.projects-description-list__item WEBPACK5
                        li.projects-description-list__item NODE JS
                    p.projects-description__item Что реализовано:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item Калькулятор
                        li.projects-description-list__item ToDo-list
                .projects-info__button.projects-button 
                    a(href="https://daifoll.github.io/NFTMusic/" target="_blank").projects-button__watchBtn Посмотреть проект